.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 350px;
  padding: 15px 0;
  padding-bottom: 4px;
  text-align: center;
  .footer {
    backdrop-filter: blur(15px);
    padding: 4px;
    p {
      font-weight: bold;
      color: #c7c7c7;
      text-transform: uppercase;
    }
    h4 {
      color: #fff;
      font-size: 1.29rem;
    }
    h6 {
      color: #c7c7c7;
      font-size: 0.89rem;
    }
  }
}
