$hamburger-width: 100px;

#header {
  z-index: 999;
  .blurOverley {
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(9px);
    backdrop-filter: blur(1px);
  }
  .hamburger {
    position: relative;
    z-index: 1;
    width: $hamburger-width;
    display: flex;
    justify-content: center;
    .hamburgerBtn {
      cursor: pointer;
      background-color: transparent;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin-top: 4px;
        height: 2px;
        width: 30px;
        display: inline-block;
        background-color: #fff;
      }
      p {
        color: #fff;
        font-size: 4rem;
      }
    }
  }
  strong {
    z-index: 1;
    display: block;
    // width: 100%;
    flex-basis: calc(100%);
    font-weight: normal;
    text-align: center;
    a {
      position: relative;
      display: inline-block;
      margin-left: -$hamburger-width;
      color: #fff;
      .house {
        position: absolute;
        left: -10px;
        top: 27%;
        color: #ddd;
        font-size: 1.23rem;
      }
    }
  }

  .navbar {
    position: absolute;
    width: 100%;
    top: 100%;
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 1;
    &::after {
      content: "";
      backdrop-filter: blur(15px);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
    ul {
      width: 100%;
      text-align: center;
      li {
        font-size: 1.3rem;
        margin: 12px 0;
        color: #fff;
        font-weight: 500;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
