.card {
  display: flex;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  strong,
  span {
    font-size: 0.85rem;
  }
  .img {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
  }
  p {
    font-size: 0.8rem;
  }
}
