.container {
  min-height: 90vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px -114px 148px -2px var(--blue-color);
  background-color: var(--blue-color);
}

@media (max-width: 1280px) {
  .container {
    min-height: 70vh;
  }
}
@media (max-width: 990px) {
  .container {
    min-height: 60vh;
  }
}
@media (max-width: 768px) {
  .container {
    min-height: 40vh;
  }
}
@media (max-width: 530px) {
  .container {
    min-height: 26vh;
  }
}
