body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --blue-color: #2e313e;
}

.page_renderer {
  min-height: 60vh;
}

.bg-blue {
  background-color: var(--blue-color);
}
.font-size-1rem {
  font-size: 1rem;
}
.font-weight-700 {
  font-weight: 700;
}
.c-pointer {
  cursor: pointer;
}
.flex-wrap {
  flex-wrap: wrap;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  padding: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
